In [99]:
import pandas as pd
df=pd.read_csv("tips.csv")
df.head(140
    
       )

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
135        8.51  1.25  Female     No  Thur   Lunch     2
136       10.33  2.00  Female     No  Thur   Lunch     2
137       14.15  2.00  Female     No  Thur   Lunch     2
138       16.00  2.00    Male    Yes  Thur   Lunch     2
139       13.16  2.75  Female     No  Thur   Lunch     2

[140 rows x 7 columns]

In [2]:
df.total_bill.mean()

19.78594262295082

In [3]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [4]:
df[df.sex=="Male"]["tip"].mean()

3.0896178343949043

In [7]:
df.tip.max()

10.0

In [9]:
df.day.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [11]:
df[df.sex=="Female"]["tip"].mean()

2.8334482758620685

In [13]:
df[df.smoker=="No"]["size"].sum()

403

In [14]:
df[df.time=="Dinner"]["total_bill"].sum()

3660.3

In [16]:
df["size"].min()

1

In [18]:
df.total_bill.std()

8.902411954856856

In [20]:
df.smoker.value_counts(normalize=True)

smoker
No     0.618852
Yes    0.381148
Name: proportion, dtype: float64

In [22]:
df[["sex","smoker"]].value_counts(normalize=True)

sex     smoker
Male    No        0.397541
        Yes       0.245902
Female  No        0.221311
        Yes       0.135246
Name: proportion, dtype: float64

In [24]:
df[df.day=="Thur"]["tip"].median()

2.3049999999999997

In [26]:
df[df.day=="Fri"]["tip"].sum()

51.959999999999994

In [28]:
df[(df.smoker=="No")&(df.time=="Dinner")]["tip"].mean()

3.1268867924528303

In [37]:
df.smoker=df.smoker.map(lambda x : "0" if x=="No" else "1" if x=="Yes"  else  x)
df.smoker=df.smoker.astype(int)

In [45]:
df[["smoker","total_bill"]].diff().value_counts(normalize=True)

smoker  total_bill
 0.0     1.76         0.008230
-1.0    -19.86        0.004115
 0.0     4.03         0.004115
         4.13         0.004115
         4.13         0.004115
                        ...
        -4.52         0.004115
        -4.51         0.004115
        -4.51         0.004115
        -4.44         0.004115
 1.0     22.61        0.004115
Name: proportion, Length: 242, dtype: float64

In [47]:
df.day.mode()

0    Sat
Name: day, dtype: object

In [55]:
s=df[df.sex=="Female"]["tip"].max()
a=df[df.sex=="Female"]["tip"].min()
Range=s-a
Range

5.5

In [89]:
df.total_bill=df.total_bill.astype(int)
df[df["size"]>=5]["total_bill"].sum()

286

In [97]:
df[df["time"]=="Lunch"]["total_bill"].max()

43.11

In [115]:
df[(df.day=="Sun")&(df.day=="sat")&(df.total_bill>=20)]["size"].sum()

0